* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/*
Pantalla activada: lightgreen;
Pantalla desactivada: darkseagreen;
Panel solar: background: saddlebrown;

*/

body {
    background: #f3f9fb;
}

#calculadora {
    width: 380PX;
    margin: 40px auto;
    border-radius: 20px;
    background: #142d4c;
}

#calculadora > .tornillosDelAparato {
    height: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tornillo {
    width: 15px;
    height: 15px;
    margin: 0px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    font-size: 0.5em;
    background: slategrey;
}

#calculadora > #parteSuperior {
    width: 90%;
    margin: 0px auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#parteSuperior > #brand {
    font-family: 'Bitter', serif;
    text-align: center;
}

#brand > #marca {
    font-size: 1.5em;
    font-weight: bold;
    color: plum;
    transform: scaleY(1.2);
}

#brand > #modelo {
    font-size: 1.0em;
    font-weight: bold;
    color: #f3f9fb;
}

#parteSuperior > #panelSolar {
    border-collapse: collapse;
}

/* #panelSolar > tr > td ¿Por que no funciona*/
#panelSolar td {
    padding: 20px 20px;
    border: black 3px solid;
    background: rgb(43, 44, 22);
    color: #f3f9fb;
}

#calculadora > #pantalla {
    width: 90%;
    height: 100px;
    margin: 10px auto;
    padding-right: 10px;
    border-radius: 10px;
    font-size: 4.0em;
    font-family: 'Ubuntu', sans-serif;
    line-height: 100px;
    text-align: right;
    overflow: auto;
    background: darkseagreen;
}

#calculadora > #tablero {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

#tablero button{
    width: 100%;
    padding: 15px 30px;
    font-family: 'Bitter', serif; 
    font-size: 1.5em;
}

#btn_borrado {
    background-color: skyblue;
    border-radius: 10px;
}

#btn_limpieza {
    background-color: skyblue;
    border-radius: 10px;
    font-weight: bold;
}

#btn_poder {
    background-color: skyblue;
    border-radius: 10px;
    color: green;
}

#btn_division {
    background-color: skyblue;
    border-radius: 10px;
}

#btn_multiplicacion {
    background-color: skyblue;
    border-radius: 10px;
}

#btn_sustraccion {
    background-color: skyblue;
    border-radius: 10px;
}

#btn_adicion {
    background-color: skyblue;
    border-radius: 10px;
}

#btn_punto {
    background-color: lightgray;
    border-radius: 10px;
    font-weight: bold;
}

#btn_igualdad {
    background-color: lightgray;
    border-radius: 10px;
}

#btn_0 {
    background-color: lightgray;
    border-radius: 10px;
}

#btn_1 {
    background-color: lightgray;
    border-radius: 10px;
}

#btn_2 {
    background-color: lightgray;
    border-radius: 10px;
}

#btn_3 {
    background-color: lightgray;
    border-radius: 10px;
}

#btn_4 {
    background-color: lightgray;
    border-radius: 10px;
}

#btn_5 {
    background-color: lightgray;
    border-radius: 10px;
}

#btn_6 {
    background-color: lightgray;
    border-radius: 10px;
}

#btn_7 {
    background-color: lightgray;
    border-radius: 10px;
}

#btn_8 {
    background-color: lightgray;
    border-radius: 10px;
}

#btn_9 {
    background-color: lightgray;
    border-radius: 10px;
}